
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 261 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 261 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 261 40% 10%;
    --primary: 261 51% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 174 100% 29%;
    --secondary-foreground: 0 0% 98%;
    --muted: 261 10% 90%;
    --muted-foreground: 261 10% 40%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 15% 90%;
    --input: 261 15% 90%;
    --ring: 261 51% 47%;
    --radius: 0.75rem;
    --sidebar-background: 261 51% 25%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 261 51% 47%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 174 100% 29%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 261 51% 30%;
    --sidebar-ring: 174 100% 29%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
